/* Headings */
body {
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 1.75; 
    overflow-x: hidden;
}
h1 {
    color: #545454;
    font-family: 'Lobster';
    font-size: 7.5rem;
    margin-top: 0;
}
h2, h3{
    font-family: 'Libre Baskerville';
    padding-bottom: 3%;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 1.5rem;
}

.centre-text {
    text-align: center;
    width: 80%;
}

/* Containers */
.container {
    padding: 7% 12% 10%;
    width: 80%;
}

/* Altering Sections
.white-section {
    color: #545454;
} */
.colored-section {
    background-color: #545454;
    color: white;
}

/* Navigation Bar */
.nav-link {
    color: #696969;
    font-weight: bold;
}
a.nav-link {
    margin-left: 3rem;
    margin-right: 3rem;
}
/* Intro Section */
#intro {
    background-image: url(images/marble.jpg);
    background-size: 100%;
   
}

.intro-div {
    padding: 15% 0;
    text-align: center;
}

.intro-sub {
    font-family: 'Montserrat';
    font-size: 1rem;
    position: relative;
    left: 75px;
}

/* About Me Section */
#aboutMe {
    width: 55% auto;
}

/* Project Section */
.carousel-item {
    padding: 7% 30%;
    text-align: center;
}


/* Contact Section */
.socials {
    padding-top: 5%;
}
.social-icon {
    padding-left: 5%;
    padding-right: 5%;
    color: #696969;
}
.far:hover{
    color: black;
}

/* Footer Section */
#footer {
    opacity: 0.25;
    margin: 0;
}
#footer p {
    font-size: 1rem;
}
